.login-screen{
    background-image: url("../assets/img/login-page-background.jpg");
    height: 100%;

    .login-screen-content{
        background: linear-gradient(rgba(255, 106, 58, 0.5), black);
        height: 100%;
    }
}

.dismiss-button{
    float: right;
    padding-right: 20px;
    padding-top: 15px;

    > button{
        background: rgba(255, 255, 255, 0.0);
        font-size: 20px;
    }
}

.login-container{
    width: 100%;
    position: absolute;
    display: table;
    padding-left: 25px;
    padding-right: 25px;
    bottom: 0;

    > .table-spacer{
        height: 25px;
    }
}

.login-button-container{
    display: table-row;
    width: 100%;
    text-align: center;
    padding-left: 24px;
    padding-right: 24px;

    > .login-button{
        width: 100%;
        height: 56px;
        border-radius: 56px;
        background-color: #f96332;
        color: white;
        font-size: 13px;
    }
}

.registration-link{
    display: table-row;
    padding-left: 25px;
    font-size: 11px;
    
    a
    {
        color: white;
    }
}

.login-input-item{
    display: table-row;
    height: 56px;
    border-radius: 56px;
    width: 100%;
    padding-left: 25px;
    padding-right: 25px;

    input{
        width: 100%;
        margin: 0;
        height: 56px;
        border-radius: 56px;
        padding-left: 25px;
        background: rgba(255, 255, 255, 0.3);

        &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
            color: white !important;
        }

        &::-moz-placeholder { /* Firefox 19+ */
            color: rgba(255, 255, 255, 0.2) !important;
        }

        &:-ms-input-placeholder { /* IE 10+ */
            color: rgba(255, 255, 255, 0.2) !important;
        }

        &:-moz-placeholder { /* Firefox 18- */
            color: rgba(255, 255, 255, 0.2) !important;
        }
    }

    &.username-input-field{
    }

    &.password-input-field{
    }
}