﻿
<ion-content>
    <div class="login-screen">
        <div class="login-screen-content">
            <div class="dismiss-button">
                <button (click)="dismiss()">
                    <span color="primary" showWhen="ios">Cancel</span>
                    <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
                </button>
            </div>
            <div class="login-container">
                <div class="login-input-item username-input-field">
                    <ion-input type="text" [(ngModel)]="loginModel.username" placeholder="Username"></ion-input>
                </div>
                <div class="table-spacer"></div>
                <div class="login-input-item password-input-field">
                    <ion-input type="password" [(ngModel)]="loginModel.password" placeholder="Password"></ion-input>
                </div>
                <div class="table-spacer"></div>
                <div class="login-button-container">
                    <button class="login-button" (click)="login()" block>Sign In</button>
                </div>
                <div class="table-spacer"></div>
                <div class="registration-link">
                    <span><a (click)="goToRegistration()">Create Account</a></span>
                </div>
                <div class="table-spacer"></div>
            </div>
        </div>

    </div>
    
</ion-content>