<ion-header>
    <ion-navbar>
        <button ion-button menuToggle icon-only>
            <ion-icon name='menu'></ion-icon>
        </button>
        <ion-title>Tracking</ion-title>
    </ion-navbar>
    <ion-toolbar no-border-top>
        <ion-segment [(ngModel)]="currentCategory">
            <ion-segment-button value="following" class="tracking-segment-button">
                Following
            </ion-segment-button>
            <ion-segment-button value="popular" class="tracking-segment-button">
                Popular
            </ion-segment-button>
            <ion-segment-button value="explore" class="tracking-segment-button">
                Explore
            </ion-segment-button>
        </ion-segment>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <div [ngSwitch]="currentCategory">
        <ion-list *ngSwitchCase="'following'">
            <ion-item *ngFor="let artist of followingArtist; let i = index">
                <h2>{{artist.artist_display_name}}</h2>
            </ion-item>
        </ion-list>
        <ion-list *ngSwitchCase="'popular'">
            <ion-item *ngFor="let artist of followingArtist; let i = index">
                <h2>{{artist.artist_display_name}}</h2>
            </ion-item>
        </ion-list>
        <ion-list *ngSwitchCase="'explore'">
            <ion-item *ngFor="let artist of followingArtist; let i = index">
                <h2>{{artist.artist_display_name}}</h2>
            </ion-item>
        </ion-list>
    </div>
</ion-content>