<ion-header>
  <ion-navbar>
    <ion-title>
      Register
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-card-content>
            <ion-list>
                <ion-item>
                    <ion-label stacked>Email</ion-label>
                    <ion-input type="text" [(ngModel)]="registerModel.Email" ></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label stacked>Password</ion-label>
                    <ion-input type="password" [(ngModel)]="registerModel.Password"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label stacked>Confirm Password</ion-label>
                    <ion-input type="password" [(ngModel)]="registerModel.ConfirmPassword"></ion-input>
                </ion-item>
            </ion-list>
            <div padding>
                <button ion-button color="primary" block (click)="register()">Register</button>
            </div>
        </ion-card-content>
    </ion-card>
</ion-content>