<ion-header>
    <ion-navbar>
        <button ion-button menuToggle icon-only>
            <ion-icon name='menu'></ion-icon>
        </button>
        <ion-title>Profile</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
</ion-content>