<ion-header>
  <ion-navbar>
    <button ion-button menuToggle icon-only>
      <ion-icon name='menu'></ion-icon>
    </button>
    <ion-title>
      Home
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
    <div class="streams">
      <div class="news-story" *ngFor="let item of news; let i = index">
        <div class="main-story"  *ngIf="i === 0" [style.background] = "item.news_item_image" [style.background-size] = "cover" [style.background-repeat] = "no-repeat">
          <div class="news-title-summary-container">
            <div class="news-title">{{item.title}}</div>
            <div class="source-time-info-container">
              <div class="source-container">All Hip Hop</div>
              <div class="time-container">20m ago</div>
              <div class="value-change-container"></div>
            </div>
          </div>
        </div>
        <div class="sub-stories" *ngIf="i !== 0">
          <div class="news-title-summary-container">
            <div class="news-title">{{item.title}}</div>
            <div class="source-time-info-container">
              <div class="source-container">All Hip Hop</div>
              <div class="time-container">20m ago</div>
              <div class="value-change-container"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
</ion-content>