
.streams{
    height: 100%;

    .news-story{

        > div{
            padding-top: 20px;
        }

        .main-story{
            height: 100%;
            position: relative;
            background-repeat: no-repeat !important;
            background-size: cover;
        }

        $font-size: 13px;
        $line-height: 1.4;
        $lines-to-show: 2;

        .news-title{
            display: block; /* Fallback for non-webkit */
            display: -webkit-box;
            max-width: 400px;
            height: $font-size*$line-height*$lines-to-show; /* Fallback for non-webkit */
            margin: 0 auto;
            font-size: $font-size;
            line-height: $line-height;
            -webkit-line-clamp: $lines-to-show;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        &:first-child{
            height: 50%;


            .news-title-summary-container{
                position: absolute;
                bottom: 0;
                color: white;
                height: 100px;
            }

            .news-title{
                color: white;
            }
        }

        &:not(:first-child){
            height: 100px;
            border-bottom: 1px lightgrey solid;
        }

        .source-time-info-container{
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: flex-start;
            align-content: stretch;
            align-items: flex-start;
            font-size: 10px;
            padding-left: 20px;
            padding-right: 20px;
            padding-top: 20px;

            &:last-child{
                order: 0;
                flex: 1 1 auto;
                align-self: auto;
            }

            &:not(:last-child){
                order: 0;
                flex: 0 1 auto;
                align-self: auto;
            }

            .time-container{
                padding-left: 15px;
            }
        }

        .news-title{
            color: black;
            padding-left: 20px;
            padding-right: 20px;
        }


    }
}