<ion-menu persistent="true" [content]="content">

  <ion-content class="side-menu-content">
    <div class="side-menu-content-container">
        <ion-list>
          <button menuClose ion-item detail-none *ngFor="let p of pages" (click)="openPage(p)" class="side-menu-button">
            <span><ion-icon name="{{p.icon}}" class="side-menu-icon"></ion-icon> {{p.title}}</span>
          </button>
        </ion-list>
    </div>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>