// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

@font-face {
font-family: AppFont;
src: url("../assets/fonts/Montserrat/Montserrat-Regular.ttf");
}

@font-face {
font-family: AppTitleFont;
src: url("../assets/fonts/Montserrat/Montserrat-Bold.ttf");
}

body, span, button, h1, h2, h3, h4, h5, h6, div {
    font-family: 'AppFont' !important;
}

.news-title{
    font-family: 'AppTitleFont' !important;
    font-size: 13px;
}

ion-header{
    height: 50px;

    ion-navbar{
        height: 100%;
    }
}

.toolbar-background {
  background-color: #f96332;
}

.bar-button-ios{
    color: white;
}

.toolbar-title{
    color: white;
}

.side-menu-icon{
    margin-right: 38px;
    width: 22px;
}

.side-menu-button{
    padding-left: 34px;
    background-color: rgba(255, 255, 255, 0.0); 
    color: white;   
    
    .item-inner{
        border-bottom: 0px !important;
    }

    &:last-child{
        border-bottom: 0px !important;
    }

    &:first-child{
        border-top: 0px !important;
    }
}

.side-menu-content{
    background-image: url("../assets/img/login-page-background.jpg");

    .side-menu-content-container{
        padding-top: 20px;
        height: 100%;
        background: linear-gradient(rgba(255, 106, 58, 0.9), black);
    }
}